/*
** Shortcodes
*/
@import 'shortcodes/icon-box';
@import 'shortcodes/special-heading';
@import 'shortcodes/number-card';
@import 'shortcodes/price_table';
@import 'shortcodes/quote-item';
@import 'shortcodes/items-masonry';
@import 'shortcodes/team';
@import 'shortcodes/services';
@import 'shortcodes/simple_counter';

.contact-form {
  textarea {
    min-height: 105px;
  }
}

.excerpt {
  font-size: 18px;
  color: $darkgreyColor;
  font-weight: 300;
  &:not(:last-child){
    margin-bottom: 35px;
  }
}