//color schemes
//1
$styleNumber: '';
$colorMain: #ff5740;
$colorMain2: #fdcd67;
$colorMain3: #f6e700;
$colorMain4: #009cbe;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;