//color schemes
//2
$styleNumber: '2';
$colorMain: #fdcd67;
$colorMain2: #ff5740;
$colorMain3: #f6e700;
$colorMain4: #009cbe;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #388E3C;
//blue
$colorInfo: #2196F3;
//orange
$colorWarning: #FFC400;
//red
$colorDanger: #D50000;