//color schemes
//3
$styleNumber: '3';
$colorMain: #f6e700;
$colorMain2: #ff5740;
$colorMain3: #fdcd67;
$colorMain4: #009cbe;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #5BB75B;
//blue
$colorInfo: #006DCC;
//orange
$colorWarning: #FAA732;
//red
$colorDanger: #DA4F49;