/*
** Blog
*/

.blog_slider {
  margin-bottom: 60px;
  @media (min-width: 992px) {
    .intro_layers_wrapper {
      left: 130px;
      right: 130px;
    }
  }
  @media(max-width: 767px) {
    display: none;
  }
}

.blog-featured-posts {
  .post {
    height: 100%;
  }
}

//entry title on singular will be SHOWN - title will be HIDDEN in title section
.entry-title,
.entry-title:last-child {
  text-transform: none;
  margin: 0 0 0.7em;
  line-height: 1;
  font-size: 30px;
  @media (max-width: 991px) {
    font-size: 1.9rem;
  }
}

.tag-links{
  a:not(.btn) {
    border: 1px solid $colorMain;
    color: $colorMain;
    padding: 2px 15px;
    margin: 0 0 4px 0;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    font-size: 14px!important;
    &:hover {
      border-color: $darkgreyColor;
      color: $darkgreyColor;
    }
  }
}

//for blog greed and featured posts
h4.entry-title {
  font-size: 24px;
  margin-bottom: 0.7em;
}

//for single post
.item-media+ .item-content {
  h1.entry-title {
    margin-top: 5px;
  }
}

.post-list-with-aside{
  .post{
    &.post_format-post-format-quote,
    &.post_format-post-format-status{
      .item-content{
        @media (min-width: 1200px){
          padding-left: 160px!important;
          padding-right: 160px!important;
        }
      }
    }
    &.post-without-img{
      @media (min-width: 1200px){
        padding-left: 160px;
        padding-right: 160px;
      }
    }
    &.post-over{
      .item-content{
        @media (min-width: 1200px){
          margin-left: 80px;
          margin-right: 80px;
        }
      }
    }
  }
}
.post {
  &.single-post{
    .position-relative{
      & + .item-content{
        margin-top: 70px;
        @media (max-width: 1199px) {
          margin-top: 50px;
        }
      }
    }
    .entry-meta{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 40px;
      @media (min-width: 576px){
        align-items: center;
      }
      .time-meta{
        margin-right: auto;
      }
    }
  }
  &.post-grid-item{
    .item-media{
      img{
        border-radius: 3px;
        overflow: hidden;
      }
      .item-meta{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .item-content{
      padding-top: 20px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .entry-title{
      font-size: 24px;
      margin-bottom: 0;
    }
  }
  &.post-without-img{
    padding: 40px 200px;
    @media (max-width: 1199px) {
      padding: 0 120px;
    }
    @media (max-width: 767px) {
      padding: 0 40px;
    }
  }
  &.post-over{
    .embed-responsive-item{
      z-index: 4;
    }
    .item-content{
      margin-left: 120px;
      margin-right: 120px;
      margin-top: -80px;
      padding: 80px 80px 0 80px;
      background-color: $lightColor;
      border-radius: 3px;
      position: relative;
      z-index: 3;
      @media (max-width: 1199px){
        margin-left: 60px;
        margin-right: 60px;
        padding: 60px 60px 0 60px;
      }
      @media (max-width: 767px){
        padding: 40px 40px 0 40px;
        margin: 0;
      }
    }
  }
  &.vertical-item{
    .item-media img{
      border-radius: 3px;
      overflow: hidden;
    }
  }
  &.vertical-item:not(.post_format-post-format-gallery):not(.post_format-post-format-video):not(.item-gallery){
    .item-media{
      display: inline-block;
      text-align: center;
    }
  }
  position: relative;

  //sticky
  & > .fa ,
  & .position-relative > .fa {
    position: absolute;
    right: 9px;
    top: 7px;
    color: $lightColor;
    transform: rotate(45deg);
    z-index: 2;
    &:before {
      position: relative;
      z-index: 3;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      top: -14px;
      left: -35px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 40px 40px 40px;
      border-color: transparent transparent $colorMain transparent;

    }
  }

  & + & {
    margin-top: 120px;
    @media (max-width: 1199px) {
      margin-top: 90px;
    }
  }

  //blog feed

  //single post
  h1.entry-title {
    & + .entry-meta {
      margin:-1em 0 2em;
    }
  }

  //cover image post
  &.cover-image {
    padding: 35px 30px 30px;
    @media (min-width: 992px) {
      padding: 60px 60px 50px;
    }
    height: auto;
    .post-thumbnail {
      display: none;
    }
  }

  ul, ol {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

}
.post-thumbnail {
  text-align: center;
  .owl-dots {
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
  }
  & + .entry-content {
    margin-top: 1.5em;
  }
}

//password protected
.post-password-form {
  input[type="password"] {
    margin-top: 0.5em;
    width: auto;
  }
  input[type="submit"] {
    padding: 16px 36px;
  }
}

.entry-meta {
  line-height: 1;
  clear: both;
  color: $darkgreyColor;
  i{
    font-size: 16px;
    position: relative;
    margin-right: 5px;
  }
  span:not(:last-child) {
    margin-right: 20px;
  }

  @media (min-width: 1200px){
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 575px){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    span:not(:last-child) {
      margin-bottom: 10px;
      margin-right: 0;
    }
  }
}

.author{
  &::before{
    content: '';
    position: relative;
    display: inline-flex;
    width: 15px;
    height: 15px;
    -webkit-mask: url('../img/icon-author.png') no-repeat center / cover;
    background-color: $colorMain;
    bottom: -0.1em;
    margin-right: 5px;
  }
  i{
    display: none;
  }
}
.comments-link{
  &::before{
    content: '';
    position: relative;
    display: inline-flex;
    width: 15px;
    height: 15px;
    -webkit-mask: url('../img/icon-comment.png') no-repeat center / cover;
    background-color: $colorMain;
    bottom: -0.1em;
    margin-right: 5px;
  }
  i{
    display: none;
  }
}
.views{
  &::before{
    content: '';
    position: relative;
    display: inline-flex;
    width: 17px;
    height: 12px;
    -webkit-mask: url('../img/icon-view.png') no-repeat center / cover;
    background-color: $colorMain;
    bottom: -0.1em;
    margin-right: 5px;
  }
  i{
    display: none;
  }
}

.entry-footer{
  padding-top: 50px;
  margin-top: 70px;
  position: relative;
  border-top: 1px solid $borderColor;
  @media (max-width: 1199px){
    margin-top: 50px;
  }
  .entry-footer-wrapper{
    display: flex;
    @media (min-width: 1200px){
      max-width: 770px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .tag-wrapper{
    margin-right: 20px;
  }
  .blog-adds{
    position: relative;
    margin-left: auto;
    display: inline-block;
    margin-top: 6px;
    height: 16px;
    & > *{
      margin-right: 11px;
      font-size: 14px;
      text-transform: uppercase;
      position: relative;
      color: $colorMain2;
      &::before{
        font-family: "themeicon";
        font-size: 20px;
        content: "";
        margin-right: 10px;
        font-weight: 500;
      }
    }
  }
  .widget + .blog-adds{
    margin-bottom: 49px;
  }
  .meta-block {
    display: inline-block;
    border: 0;
    border-radius: 0;
    margin: 0;
    height: auto;
    z-index: 1;
    &::before{
      content: none;
    }
    .dropdown .dropdown-menu{
      background-color: transparent;
      z-index: 2;
      border: none;
      position: fixed!important;
      right: 0!important;
      top: 50%!important;
      left: auto!important;
      min-width: 40px;
      width: 40px;
      transform: translateY(-50%)!important;
      box-shadow: none;
      .share_buttons{
        display: block;
        animation-name: slideInRight;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        a.fa.color-bg-icon{
          margin: 0;
        }
      }
    }
    .dropdown-menu {
      padding: 0;
    }
  }
  .inline-block {
    display: inline-block;
    max-width: 100%;
  }
  .share_button{
    margin-right: 25px;
    font-size: 16px;
    height: 60px;
    width: 60px;
    color: $darkgreyColor;
  }
  .comment-count{
    color: #fff;
    font-weight: bold;
    bottom: 6px;
    &::before{
      color: #ffb820;
      content: "\e904";
      position: relative;
      bottom: -6px;
    }
  }
}

.entry-blog-share {
  margin-right: 0 !important;
  line-height: 1 !important;
  @media (min-width: 1200px) {
    right: 60px;
    top: 50%;
    margin-top: -7px !important;
  }
  @media (min-width: 768px) {
    right: 30px;
    top: 33px;
    margin-top: 0 !important;
  }
}
.post-adds {
  border: 0;
  border-radius: 0;
  margin: 0;
  height: auto;
  z-index: 1;
  .dropdown-menu {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    .share_buttons {
      width: 40px;
      min-width: 40px;
      overflow: visible;
      position: fixed;
      height: 280px;
      margin-top: -140px;
      top: 50%;
      right: 0;
      left: auto;
      a {
        margin: 0 !important;
        display: block;
        width: 40px;
        height: 40px;
      }
    }
  }
  .dropdown.open {
    .dropdown-menu {
      .share_buttons {
        animation-name: slideInRight;
        -webkit-animation-name: slideInRight;

        animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s;

        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
      }
      background-color: transparent;
      z-index: 2;
    }
  }
}

//cleaning floats
.entry-content,
.entry-footer,
.entry-header {
  &:before,
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}
.ds{
  .cat-links a:nth-of-type(1)::before{
    background-color: $lightColor;
  }
}
.position-relative .cat-links {
  position: absolute;
  top: 30px;
  right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  z-index: 4;
}
.cat-links {
  font-size: 0;
  display: block;
  margin-bottom: 15px;
  line-height: 1;
  a {
    background-color: $colorMain;
    font-size: 14px;
    color: $lightColor;
    line-height: 1;
    display: inline-block;
    padding: 9px 12px 7px;
    border-radius: 3px;
    text-transform: capitalize;
    transition: all .3s ease-in-out;
    &:hover{
      background-color: darken($colorMain, 8%);
    }
    &:not(:last-child){
      margin-right: 10px;
    }
  }

  &.absolute{
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 4;
  }
}

//edit link
.entry-footer,
.entry-header {
  .edit-link {
    float: right;
    a:before {
      font-family: 'FontAwesome';
      content: '\f040';
      padding-right: 0.4em;
    }
  }
  //for woo
  .entry-title + .edit-link {
    position: absolute;
    right: 15px;
    top: 0.5em;
  }
}

.post-adds {
  display: flex;
  background-color: $backgroundColor;
  line-height: 1;
  align-items: center;
  margin-bottom: 30px;
  i {
    width: 1em;
  }
  a {
    display: inline-block;
    margin: 0;
  }
  .dropdown-menu {
    padding: 0;
    border: none;
  }
  .share_buttons {
    display: flex;
  }
  .share_button {
    background-color: $colorMain;
    color: $lightColor;
    line-height: 60px;
    padding: 0 21px;
  }
  .like_button {
    color: $colorMain;
    line-height: 60px;
    padding: 0 21px;
    border-right: 1px solid $borderColorRGBA;
  }
  .votes_count {
    padding: 0 21px;
  }
  .views-count {
    margin-left: auto;
    padding: 22px 30px;
    background-color: $colorMain;
    color: $lightColor;
  }
  @media(max-width: 576px) {
    & {
      flex-wrap: wrap;
    }
    .share_button {
      line-height: 40px;
      padding: 0 11px;
    }
    .like_button {
      line-height: 40px;
      padding: 0 11px;
    }
    .views-count {
      padding: 10px 15px;
      width: 100%;
    }
  }
}

/*gallery post*/
.post {
  &.readmore-hidden{
    .item-content{
      a.more-link:not(.btn){
        display: none;
      }
    }
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7px;
    &.gallery-columns-6,
    &.gallery-columns-7,
    &.gallery-columns-8,
    &.gallery-columns-9{
      .gallery-item figcaption{
        word-break: break-all;
      }
    }

    .gallery-item {
      width: 50%;
      padding: 10px;
      text-align: center;

      figcaption {
        padding: 20px 5px 5px;
      }
    }
    .gallery-item{
      a{
        display: inline-block;
        width: 100%;
        img{
          width: 100%;
          border-radius: 3px;
          overflow: hidden;
        }
      }
    }
    &.gallery-columns-2 .gallery-item,
    &.gallery-columns-3 .gallery-item,
    &.gallery-columns-4 .gallery-item{
      .gallery-caption{
        max-width: 100%;
        padding: 8px;
        border: none;
        box-shadow: $boxShadow;
      }
    }

    @media (min-width: 992px) {
      &.gallery-columns-1 .gallery-item {
        width: 100%;
      }
      &.gallery-columns-2 .gallery-item {
        width: 50%;
      }

      &.gallery-columns-3 .gallery-item {
        width: 33.33%;
      }

      &.gallery-columns-4 .gallery-item {
        width: 25%;
      }

      &.gallery-columns-5 .gallery-item {
        width: 20%;
      }

      &.gallery-columns-6 .gallery-item {
        width: 16.66%;
      }

      &.gallery-columns-7 .gallery-item {
        width: 14.28%;
      }

      &.gallery-columns-8 .gallery-item {
        width: 12.5%;
      }

      &.gallery-columns-9 .gallery-item {
        width: 11.11%;
      }
    }

  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7px;

  .gallery-item {
    width: 50%;
    padding: 0 2px;
    text-align: center;
    margin-bottom: 5px;

    figcaption {
      padding: 5px 0 5px;
    }
  }
  .gallery-item{
    a{
      display: inline-block;
      width: 100%;
      img{
        width: 100%;
      }
    }
  }
  &.gallery-columns-2 .gallery-item,
  &.gallery-columns-3 .gallery-item,
  &.gallery-columns-4 .gallery-item{
    .gallery-caption{
      max-width: 100%;
      padding: 8px;
      border: none;
      box-shadow: $boxShadow;
    }
  }

  @media (min-width: 992px) {
    &.gallery-columns-1 .gallery-item {
      width: 100%;
    }
    &.gallery-columns-2 .gallery-item {
      width: 50%;
    }

    &.gallery-columns-3 .gallery-item {
      width: 33.33%;
    }

    &.gallery-columns-4 .gallery-item {
      width: 25%;
    }

    &.gallery-columns-5 .gallery-item {
      width: 20%;
    }

    &.gallery-columns-6 .gallery-item {
      width: 16.66%;
    }

    &.gallery-columns-7 .gallery-item {
      width: 14.28%;
    }

    &.gallery-columns-8 .gallery-item {
      width: 12.5%;
    }

    &.gallery-columns-9 .gallery-item {
      width: 11.11%;
    }
  }

}

/*post author*/
.author-bio {
  border-radius: 3px;
  padding: 60px;
  margin-top: 90px;
  .item-media{
    margin-right: 40px;
    flex-shrink: 0;
    img{
      max-width: 120px;
      border-radius: 50%;
      overflow: hidden;
    }
  }
  @media (min-width: 1200px) {
    padding: 80px;
    margin-top: 120px;
  }
  .author-bio-inner{
    display: flex;
    @media (min-width: 1200px) {
      max-width: 770px;
      margin-left: auto;
      margin-right: auto;
    }
    @media (max-width: 575px){
      flex-direction: column;
    }
  }
}

.related-posts-columns{
  margin-top: 120px;
  @media (max-width: 1199px) {
    margin-top: 90px;
  }
}

/*comments*/
.comments-title {
  font-size: 40px;
  margin-bottom: 55px;
  @media (max-width: 1199px) {
    font-size: 30px;
  }
}

.comments-area {
  .comment-respond{
    padding: 80px;
    background-color: $lightColor;
    @media (max-width: 1199px) {
      padding: 60px;
    }
  }
  .comment-list {
    list-style: none;
    margin-top: 100px;
    padding: 0;
    margin-bottom: 0;
    .comment-respond{
      margin-top: 60px;
      margin-bottom: 60px;
      small{
        font-size: 16px;
        display: block;
      }
      .comments-title span{
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-between;
      }
      & + ol.children::before{
        @media (min-width: 1200px) {
          top: 0;
        }
      }
    }
    ol.children {
      list-style: none;
      padding-left: 35px;
      margin-top: 30px;
      @media (min-width: 1200px) {
        padding-left: 60px;
        position: relative;
      }
      .comment + .comment{
        margin-top: 30px;
      }
      ol.children ol.children {
        padding-left: 35px;
        @media (min-width: 1200px) {
          padding-left: 100px;
        }
      }
    }
  }
}
.children{
  .comment-body:last-child {
    margin-bottom: 0;
  }
}
.trackback,
.pingback{
  .comment-body{
    margin-left: 0;
  }
}
.comment{
  & + .comment{
    margin-top: 65px;
  }
}
.comment-body {
  position: relative;
  margin-left: 100px;
  margin-bottom: 65px;
  padding: 5px 0;

  a.comment-reply-link{
    &:after {
      content: "";
      -webkit-mask: url('../img/arrow-list.png') no-repeat center / cover;
      background-color: $darkgreyColor;
      width: 20px;
      height: 7px;
      display: inline-block;
      position: relative;
      margin-left: 10px;
    }
  }

  ol,
  ol ol,
  ul ul{
    padding-left: 20px;
  }

  @media (max-width: 575px) {
    padding-top: 5px;
  }
}

.time-meta{
  @include meta-time();
  white-space: nowrap;
}

.comment{
  .item-meta{
    margin-top: 17px;
  }
}

.comment-meta {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .item-meta{
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
  }
  @media (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
    .item-meta{
      margin-top: 10px;
    }
  }
  h4{
    margin-top: 0;
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: 0;
  }
  //avatar
  img {
    position: absolute;
    left: -100px;
    top: -20px;
    max-width: 80px;
    border-radius: 50%;
  }
  .comment-metadata {
    @include small-text();
  }

  b {
    font-weight: inherit;
  }
}

@media(max-width: 575px) {
  .comment-body {
    margin-left: 70px;
  }
  .comment-meta img {
    max-width: 60px;
    left: -70px;
  }
}

.reply {
  margin-top: 10px;
}

//links
.reply {
  a {
    @include small-text();
  }
}

.comment-content {
  p {
    margin-bottom: 0.5em;
  }
}

.no-comments,
.comment-awaiting-moderation {
  opacity: 0.7;
}

.comments-pagination {
  margin: 2em 0 3em;
}

/*comment respond form*/
.comments-area > .comment-respond {
  .comment-form-cookies-consent{
    label{
      display: inline-block!important;
    }
  }
}

.comment-form {
  display: flex;
  flex-wrap: wrap;
  p {
    margin-bottom: 45px;
    width: 100%;
    &.form-submit {
      margin-bottom: 0;
    }
  }
  textarea,
  input:not(.submit) {
    width: 100%;
  }
  textarea{
    min-height: 106px;
  }
  //remember me checkbox appears with our custom designed checkbox, so hiding it
  input[type=checkbox] {
    margin: 0;
    visibility: hidden;
  }
  @media(min-width: 992px) {
    .comment-form-author{
      width: calc( 50% + 25px );
    }
    .comment-form-email {
      width: calc( 50% - 25px );
    }
    .comment-form-author {
      padding-right: 50px;
    }
  }
}

/* post formats */

.format-chat {
  .entry-content {
    p {
      display: flex;
      strong{
        margin-right: 10px;
        font-weight: 400;
        color: $darkgreyColor;
        min-width: 70px;
      }
      &:nth-child(odd){
        background-color: $lightColor;
      }
      &:not(:first-child) {
        border-top: none;
      }
    }
  }
}

.format-quote {
  &.cover-image {
    .entry-header > i {
      display: inline-block;
      font-size: 2em;
      margin-bottom: 0.7em;
    }
  }
  blockquote {
    border: none;
    font-style: italic;
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
}
.post_format-post-format-video{
  &.post{
    .embed-responsive{
      &::before{
        display: block;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: $darkgreyColor;
        z-index: 3;
      }
    }
  }
  a:hover > img {
    opacity: 1;
  }
}
a:hover > img {
  opacity: 1;
}

.post_format-post-format-link{
  .entry-content {
    a{
      &::after{
        content: '';
        position: relative;
        -webkit-mask: url('../img/arrow-list.png') no-repeat center/cover;
        background-color: $darkgreyColor;
        display: inline-block;
        width: 20px;
        height: 7px;
        margin-left: 10px;
      }
    }
  }
}

.post.post_format-post-format-quote,
.post.post_format-post-format-status{
  &.single-post{
    padding: 0;
    text-align: left;
  }
  &:not(.single-post) {
    display: flex;
    padding: 0;
    .item-content{
      &::before,
      &::after{
        content: '';
        position: absolute;
        display: inline-block;
        width: 112px;
        height: 91px;
        @media (max-width: 1199px){
          transform: scale(0.5);
        }
      }
      &::before{
        background: url("../img/blog-quote1.png") no-repeat center / contain;
        left: 40px;
        bottom: 40px;
        @media (max-width: 1199px){
          left: 20px;
          bottom: 20px;
        }
      }
      &::after{
        background: url("../img/blog-quote2.png") no-repeat center / contain;
        right: 40px;
        top: 40px;
        @media (max-width: 1199px){
          right: 20px;
          top: 20px;
        }
      }
      padding: 160px 200px;
      @media (max-width: 1199px){
        padding: 90px 120px;
      }
      @media (max-width: 767px){
        padding: 40px;
      }
    }
  }

}
.post.post_format-post-format-quote{
  .item-header{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      display: inline-block;
      width: 48px;
      height: 40px;
      -webkit-mask: url('../img/quote.png') no-repeat center / cover;
      background-color: $colorMain;
      z-index: 2;
      right: 0;
      top: 0;
    }
  }
  blockquote{
    & > p{
      text-indent: unset;
      &::before{
        display: none;
      }
    }
  }
}

.image-navigation{
  .display_table{
    display: flex;
    justify-content: space-between;
    a{
      &:hover{
        color: $colorMain2;
      }
      div{
        padding: 30px;
        display: inline-block;
      }
    }
    &.text-right{
      margin-left: auto;
    }
  }
}

.post-shortcode{
  .entry-footer {
    & > div{
      width: 50%;
      @media (max-width: 767px){
        width: 100% !important;
      }
    }
  }
}

.single-item-full{
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  blockquote{
    @media (min-width: 1200px){
      max-width: 770px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
