/* widget_calendar */
.col-xl-3 {
  @media (min-width: 1200px) {
    .calendar_wrap {

      thead {
        font-size: 12px;
        th {
          padding: 10px 4px;
          &:first-child {
            padding-left: 10px;
          }
          &:last-child {
            padding-right: 10px;
          }
        }
      }
      tbody {
        font-size: 12px;
        tr:first-child td{
          padding-top: 20px;
        }
        tr:last-child td{
          padding-bottom: 20px;
        }
        td {
          padding: 10px 3px;
          &:first-child {
            padding-left: 10px;
          }
          &:last-child {
            padding-right: 10px;
          }
        }
      }
      tfoot td a{
        padding: 0 10px;
      }
    }
  }
}
.calendar_wrap {
  position: relative;
  table td, table th{
    border: none;
  }
  width: 100%;
  margin-bottom: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  @media (min-width: 768px) and (max-width: 992px) {
    & {
      overflow-x: auto;
      overflow-y: hidden;
    }
  }
}

.ds{
  .widget_calendar tbody{
    a:not(.btn){
      color: $darkgreyColor;
    }
    color: $darkgreyColor;
  }
}

.widget_calendar {
  table {
    border-radius: 4px;
    overflow: hidden;
    margin: 0;
    position: relative;
    text-align: center;

    //experiment
    display: flex;
    flex-direction: column;
  }

  caption {
    line-height: 1;
    padding: 28px 0;
    text-align: center;
    color: $darkgreyColor;
    background-color: $colorMain3;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  thead {
    background-color: $darkgreyColor;
    color: $lightColor;
    font-size: 14px;
    th {
      padding-top: 20px;
      padding-bottom: 20px;
      &:first-child {
        padding-left: 35px;
      }
      &:last-child {
        padding-right: 35px;
      }
      text-align: center;
      width: 100px;
    }
  }

  tbody {
    background-color: $greyColor;
    tr {
      &:first-child {
        td {
          padding-top: 50px;
        }
      }
      &:last-child {
        td {
          padding-bottom: 50px;
        }
      }
    }
    td {
      padding: 10px 4px;
      position: relative;
      width: 100px;
      color: $darkgreyColor;
      &:first-child {
        padding-left: 35px;
      }
      &:last-child {
        padding-right: 35px;
      }
      a {
        position: relative;
        z-index: 1;
        color: $lightColor;
        &::before{
          content: '';
          position: absolute;
          display: inline-block;
          width: 40px;
          height: 40px;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          background-color: $colorMain;
          z-index: -1;
        }
      }
    }
  }

  th {
    color: inherit;
  }

  nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    span:first-child,
    span:last-child{
      width: 75px;
      height: 80px;
      display: flex;
      align-items: center;
      position: absolute;
      z-index: 3;
      a{
        margin-top: 6px;
        font-size: 0;
      }
    }
    span:first-child{
      left: 0;
      top: 0;
      justify-content: flex-end;
      a {
        &:before {
          content: '';
          -webkit-mask: url(../img/arrow-list.png) no-repeat center/cover;
          background-color: $darkgreyColor;
          width: 20px;
          height: 7px;
          display: inline-block;
          position: relative;
          transform: rotate(180deg);
          transition: all .3s ease-in-out;
        }
        &:hover{
          &::before{
            opacity: 0.5;
          }
        }
      }
    }
    span:last-child{
      right: 0;
      top: 0;
      justify-content: flex-start;
      a {
        &:before {
          content: '';
          -webkit-mask: url(../img/arrow-list.png) no-repeat center/cover;
          background-color: $darkgreyColor;
          width: 20px;
          height: 7px;
          display: inline-block;
          transition: all .3s ease-in-out;
        }
        &:hover{
          &::before{
            opacity: 0.5;
          }
        }
      }
    }
  }

  tfoot {
    td {
      position: absolute;
      top: 0;
      a {

        text-align: center;
        height: 60px;
        line-height: 60px;
        display: inline-block;
        padding: 0 25px;
        font-size: 0;
        color: transparent;
        &:hover {
          background-color: darken($colorMain, 10%);
          border-color: $colorMain;
        }
        &:before,
        &:after {
          color: $darkgreyColor;
          font-size: 10px;
          font-family: 'FontAwesome';
        }
      }
      &.pad {
        display: none;
      }
    }

    //prev
    td:first-child {
      left: 0;
      padding: 0;
      a {
        border-right: 1px solid rgba($lightColor, 0.2);
        &:before {
          content: '\f053';
        }
      }
    }
    //next
    td:last-child {
      right: 0;
      padding: 0;
      a {
        border-left: 1px solid rgba($lightColor, 0.2);
        &:after {
          content: '\f054';
        }
      }
    }
  }
}